

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,400;1,700&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Slab', serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul,ol{
    list-style-type: none;
}

/* body{
    background-color: red;
} */
:root {
    --bg-color:#4e4e4e;
}


.logo a {
    color: var(--bg-color);
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
}
.nav_menubar ul li a {
    color: var(--bg-color);
    font-size: 16px;
    letter-spacing: 0.8px;
}
.nav_menubar ul li a:hover {
    color:#1abb9c;
    transition: .4s;

}


/*=============== banner part start  ==================*/
.banner_part_main {
    background-image: url(/assets/image/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 200px 0px;
    margin-bottom: 100px;
}
.banner_heading h2 {
    color: #f3f3f3;
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 50px;
}
.banner_heading h4 {
    color: #a8a8a8;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 50px;
}
.banner_heading a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color: #3f8dbf;
}
.banner_heading a:hover {
    /* color: rgb(8, 12, 9); */
    background-color: #3aeb6680;
    color: #FFFFFF;
}
/*==================== banner part end =================*/
/* service part start  */
.service_part_main {
    margin-bottom: 60px;
}
.service_part h5{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    color: var(--bg-color);
}
.service_part p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #616161;
    text-align: center;
}
hr {
    margin-bottom: 60px;
}
/* service part end  */


/* latest part start  */
.top_head h2 {
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: var(--bg-color);
    
}

.card-title {
    color: var(--bg-color);
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 6px;
}
.card-body h6 {
    font-size: 13px;
    color: #a8a8a8;
    padding-bottom: 10px;
}
.card-text{
    font-size: 14px;
    color: #5c5c5c;
}
/* latest part end  */
