

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,400;1,700&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Slab', serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul,ol{
    list-style-type: none;
}

/* body{
    background-color: red;
} */
:root {
    --bg-color:#4e4e4e;
    --ffamily1:'Roboto Condensed', sans-serif;
    --ffamily2:'Roboto Slab', serif;
    --ffamily3:'Roboto', sans-serif;
}

.logo a {
    color: var(--bg-color);
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
}
.nav_menubar ul li a {
    color: var(--bg-color);
    font-size: 16px;
    letter-spacing: 0.8px;
}
.nav_menubar ul li a:hover {
    color:#1abb9c;
    transition: .4s;

}


/*=============== banner part start  ==================*/
.banner_part_main {
    background-image: url(/assets/image/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 200px 0px;
    margin-bottom: 100px;
}
.banner_heading h2 {
    color: #f3f3f3;
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 50px;
}
.banner_heading h4 {
    color: #a8a8a8;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 50px;
}
.banner_heading a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color: #3f8dbf;
}
.banner_heading a:hover {
    /* color: rgb(8, 12, 9); */
    background-color: #3aeb6680;
    color: #FFFFFF;
}
/*==================== banner part end =================*/


/*====================== service part start =================*/
.service_part_main {
    margin-bottom: 60px;
}
.service_box {
    transition: all .3s ease 0s;
}
.service_box:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: translateY(-25px);
    padding:  8px;
    border-radius: 5px;
}
.service_box h5{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    color: var(--bg-color);
}
.service_box p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #616161;
    text-align: center;
}
hr {
    margin-bottom: 60px;
}
/*========================= service part end =========================*/


/*================================= latest part start ==============================*/
.top_head h2 {
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: var(--bg-color);
    
}

.latest_work{
    transition: all .3s ease 0s;
}
.latest_work:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
}
.card-title {
    color: var(--bg-color);
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 6px;
}
.card-body h6 {
    font-size: 13px;
    color: #a8a8a8;
    padding-bottom: 10px;
}
.card-body p{
    font-size: 14px;
    color: #5c5c5c;
    font-family: 'Roboto', sans-serif;
}
/*============================ latest part end =============================*/

/*========= comment part start ===========*/
.testimonial_comment {
    font-size: 20px;
    color: #a1a1a1;
    font-family: 'Roboto Slab', serif;
    background: #efefef;
}
/*======== comment part end ==============*/


footer{
    background-color: #1e1e1e;
    padding: 50px 0;
    font-family: var(--ffamily3);
    color: white;
}
.f-get-in-touch{
    margin-right: 20px;
}
.f-get-in-touch h1{
    color: #6c6c6c;
    font-family: var(--ffamily1);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}
.f-get-in-touch p{
    color: #cacaca;
    font-family: var(--ffamily3);
    font-weight: normal;
    font-size: 14px;
    margin-top: 20px;
    /* text-align: justify; */
}
.f-location{
    margin-top: 10px;
}
.f-location i, .f-email i, .f-phone i{ 
    font-size: 14px;
    padding: 0;
    margin: 0;
    color: pink;
    /* color: red; */
    padding-right: 2px;
}
.f-location span{
    font-size: 14px;
    font-family: var(--ffamily3);
}
.f-email span a, .f-phone span a {
    font-size: 14px;
    font-family: var(--ffamily3);
    color: white;
}
.f-location span:nth-child(3){
    padding-left: 22px;
}
.twitter-post{
    margin-right: 20px;
}
.twitter-post h1{
    color: #6c6c6c;
    font-family: var(--ffamily1);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}
.twitter-post ul{
    margin-top: 20px;
    font-size: 14px;
    font-family: var(--ffamily3);
    padding: 0;
    padding-left: 10px;
    list-style:url(/assets/image/twitter.svg) ;
}
.twitter-post ul li{
    margin-top: 20px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: normal;
    color: #cacaca;
}
.popular-post h1{
    color: #6c6c6c;
    font-family: var(--ffamily1);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}
.popular-post ul{
    margin-top: 20px;
    font-size: 14px;
    font-family: var(--ffamily3);
    list-style: none;
    padding: 0px;
}
.popular-post ul li{
    font-size: 14px;
    color:#cacaca;
    font-weight: normal;
    line-height: 25px;
    margin-top: 30px;
    font-family: var(--ffamily3);
}
.popular-post ul li:first-child{
    margin-top: 0px;
}
.popular-post ul li span{
    display: block;
    font-size: 12px;
    font-family: var(--ffamily2);
    font-weight: bold;
}

.f-about-us h1{
    color: #6c6c6c;
    font-family: var(--ffamily1);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}
.f-about-us p{
    color: #cacaca;
    font-family: var(--ffamily3);
    font-weight: normal;
    font-size: 14px;
    margin-top: 20px;
}
.copyright{
    color: #cacaca;
    font-family: var(--ffamily3);
    font-weight: normal;
    font-size: 14px;
    margin-top: 10px;
}